
/**
 * 
 */

h1 {
	color: #010101;
	font-family: sans-serif;
}

p.startquote {
	font-style: italic;
	text-align: justify;
	position: relative;
	width: 4cm;
	background-color: #f0fefe;
	border-bottom: thin;
}

thead {
	font-weight: bold;
	font-style: italic;
}

th {
	background-color: gray;
	
}

td {
	background-image: url("../img/camera.png");
	background-position: left;
	background-repeat: no-repeat;
}

.highligh {
	background: transparent; color: orange;
}

div.versionInfo {
	text-align: center;
	color: gray;
	font-size: small;
	font-family: monospace;
}

button {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	font-family:inherit;
	font-size:10px;
	font-weight:  bold;
	color : #EEEEEE;
	padding:1px 1px;
	text-decoration:none;
	white-space:nowrap;
	background:#0063DC;
	border: none;
	margin: 2px;
	cursor:pointer !important;
}

button:hover {
	background:#0054BD;
	color:#FFFFFF;
	cursor:pointer !important;
}

