<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/jms http://www.springframework.org/schema/mvc/spring-jms-3.0.xsd">


	<!-- external services -->

	<bean id="spamFilter" class="org.todomap.spamegg.LinkSleeveSpamFilter">
	</bean>

	<bean id="eventListener" class="org.todomap.integrations.hitman.impl.EventListener">
		<property name="filters">
			<list>
				<ref bean="spamFilter"/>
			</list>
		</property>
		<property name="destinations">
			<list>
				<bean class="org.todomap.integrations.hitman.impl.LocGovDestination">
					<property name="mailSender" ref="mailSender"/>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="fileDest" class="org.todomap.integrations.hitman.impl.FileDestination" init-method="init">
		<property name="destination" value="target/messages"/>
	</bean>

	<bean id="jmsContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
		<property name="destination" ref="jmsQueue" />
		<property name="messageListener" ref="eventListener" />
	</bean>

	<!-- communication infrastructure -->

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="session" ref="mailSession"/>
	</bean>

	<bean id="mailSession" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="mail/Session" />
	</bean>

	<bean id="jmsConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jms/connectionFactory" />
	</bean>

	<bean id="jmsQueue" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jms/o29events" />
	</bean>

	<bean id="responseQueue" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jms/o29intresp" />
	</bean>

</beans>
