<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="handlerMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<value>
				/robots.txt=robotsController
				/*.html=fullPageController
				/embed/125x125/*.html=embed125x125Controller
				/embed/640x480/*.html=embed640x480Controller
				/sitemaps/*.xml=sitemapsController
				/sitemaps/*.txt=linksForTheDayController
				/chart=chartController
			</value>
		</property>
		<property name="alwaysUseFullPath" value="true"/>
	</bean>

	<bean id="fullPageController" class="org.todomap.o29.controller.BaseController">
		<constructor-arg ref="base" />
		<constructor-arg value="base" />
	</bean>

	<bean id="embed125x125Controller" class="org.todomap.o29.controller.BaseController">
		<constructor-arg ref="base" />
		<constructor-arg value="embed/125x125" />
	</bean>

	<bean id="embed640x480Controller" class="org.todomap.o29.controller.BaseController">
		<constructor-arg ref="base" />
		<constructor-arg value="embed/640x480" />
	</bean>

	<bean id="sitemapsController" class="org.todomap.o29.controller.SitemapsController">
		<constructor-arg ref="base" />
	</bean>

	<bean id="linksForTheDayController" class="org.todomap.o29.controller.LinksForTheDayController">
		<constructor-arg ref="base" />
	</bean>

	<bean id="robotsController" class="org.todomap.o29.controller.RobotsController"/>

	<bean id="chartController" class="org.todomap.o29.controller.ChartController">
		<constructor-arg ref="ratings"/>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>
